[Unit]
Description=Run UI for reader
Requires=mpd.service pigpiod.service network-online.target
After=mpd.service pigpiod.service network-online.target

[Service]
Type=simple
ExecStart=/home/pi/Pi0AudioBook/knihaui.sh
Restart=always
User=pi
RestartSec=5
TimeoutStartSec=30
Nice=-19

[Install]
WantedBy=multi-user.target
