[Unit]
Description=Run UI for reader
Requires=mpd.service network-online.target
After=mpd.service

[Service]
Type=simple
ExecStart=/home/pi/knihaui/knihaui.sh
Restart=always
User=pi
RestartSec=5
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
